.serch-box {
    padding-left: 2%;
    padding-top: 2%;
    display: inline-block;
}
.box-radio {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.box-radio-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}
.box-radio:checked+.box-radio-label{
    background: #89BDDE;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.hide_item {
    display: none !important;
}
