body {
    background-color: rgba(210,70,70);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
  }
.wrapper div {
    background-color: white;
}
.wrapper div:hover{
    filter: grayscale(100%);
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    left: -2%;
    width: 102%;

}
.modal__content{
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 500px;
}
.modal-title{
    margin-top: 0px;
    background-color: rgba(210,70,70);
    width: 100%;
    height: 100px;
}
.modal-title p{
    margin-top: 0px;
    text-align: center;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr{
    margin-bottom: 0px;
}
.modal-img{
    display: inline-block;
    border: solid 5px black;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 10px;
}
.basic-stat{
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}
.basic-stat p{
    display: inline-block;
    margin-bottom: 0px;
}
.close-button{
    position: absolute;
    font-size: 100px;
    transform: translate(0, -25%);
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    text-decoration: none;
    color: black;
}
.btn {
    position: absolute;
    text-decoration: none;
    background-color:#fff;
    width: 200px;
    height: 50px;
    border-radius: 100vh;
    text-align: center;
    font-size: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-left: 50%;
    color: black;    
}
.btn p{
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}